// ====== GENERAL STYLE ==================
.page {
    margin-top: 0px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
}
.sub-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.btn {
    font-size: 16px;
    padding: 15px 44px;
    border-radius: 79px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}

// ====== MAIN =======================
/* --- SECTION home ---*/
.home {
    &__container {
        position: relative;
    }
    &__bckgimage {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    &__linksource {
        color: white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding-top: 43px;
        z-index: -1;
    }
    &__window {
        display: flex;
        flex-direction: column;
        align-items: center;
       
        margin: 197px auto 0;
        max-width: 730px;
        padding: 44px 0;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.10);

        background-color: rgb(0 0 0 / 10%);
        backdrop-filter: blur(22px);
    }
    &__window-title {
        max-width: 456px;
        color: white;
        text-align: center;
        padding-bottom: 15px;
    }
    &__window-subtext {
        max-width: 400px;
        color: white;
        text-align: center;
        padding-bottom: 30px;
    }
    &__window-btn {
        color: white;
        background-color: #528CF3;
    }
    &__window-arrow_btn {
        display: block;
        margin: 181px auto 34px;
        transition: all 0.2s linear;
    }
    &__window-arrow_btn:hover {
        transform: translateY(10px);
    }
    &__window-arrow_img {
    }
}
/* --- SECTION general ---*/
.general {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 95px;
        margin-bottom: 100px;
    }
    &__title {
        padding-bottom: 13px;
        text-align: center;
    }
    &__subtext {
        max-width: 680px;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 65px;
    }
    &__descriptions {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding-bottom: 131px;
    }
    &__description-texts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__description-text {
        display: flex;
        align-items: center;
    }
    &__description-text p {
        max-width: 318px;
        font-weight: 500;
        line-height: 1.5;
        margin: 0 43px 0 14px;
    }
    &__description-img {
        width: 100%;
        max-width: 635px;
       
    }
    &__app {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border-radius: 10px;

        position: relative;
        background-color: #ADC8DB;
    }
    &__app-img {
    }
    &__app-dwload {
        display: flex;
        flex-direction: column;
        gap: 19px;
        padding: 25px;
    }
}
.genneral__app-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.genneral__app-flex p {
    max-width: 392px;
    font-size:20px;
    line-height: 1.5;
    margin-right: 9px;
}
.general-img-text {
    display: flex;
    
}
.general-img-app {
    position: absolute;
    max-width: 195px;
    left: 0;
    bottom: 0;
}
.general-img-applogo {
    max-width: 228px;
    max-height: 44px;
    margin-right: 40px;
}
.general-img-appstore {
    max-width: 144px;
}
.img-icctv {
    width: 100%;
    height: auto;
}


/* --- SECTION smart ---*/
.smart {
    background-color: #528CF3;
    padding: 100px 0;
    &__container {
    }
    &__dscrps {
        width: 100%;
    }
    &__dscrps-colmn {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
    }
    &__dscrps-block {
        display: flex;
        flex-direction: column;
    }
    &__dscrps-block p {
        max-width: 445px;
    }
    &__dscrps-title {
        color: white;
        font-size: 22px;
        padding-bottom: 29px;
    }
    &__dscrps-text {
        color: white;
        font-size: 16px;
    }
    &__dscrps-btn {
        max-width: 250px;
        padding: 15px 0;
        border: 1px solid white;
        color: white;
    }
    &__img {
        width: 100%;
        max-width: 596px;
    }
    &__img-picture {
        width: 100%;
        height: auto;
    }
}


/* --- SECTION cctv ---*/
.cctv {
        padding: 100px 0;
        background-color: #EAF2F2;
    &__container {
    }
    &__dscrps {
        flex-direction: row-reverse;
    }
    &__dscrps-colmn {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
    }
    &__dscrps-colmn p {
        align-items: flex-end;
    }
    &__dscrps-title {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 29px;
        min-width: 443px;
    }
    &__dscrps-text {
        max-width: 443px;
        font-weight: 500;
    }
    &__img {
        width: 100%;
        max-width: 595px;
    }
    &__img-picture {
        width: 100%;
        height: auto;
    }
}


/* --- SECTION sensors ---*/
.sensors {
    background-color: #528CF3;
    padding: 100px 0;
    &__container {
    }
    &__dscrps {
        width: 100%;
    }
    &__dscrps-colmn {
        display: flex;
        width: 50%;
        flex-direction: column;
    }
    &__dscrps-title {
        color: white;
        font-size: 22px;
        padding-bottom: 29px;
        max-width: 445px;
    }
    &__dscrps-text {
        color: white;
        font-size: 16px;
        max-width: 445px;
    }
    &__img {
        width: 100%;
        max-width: 595px;
    }
    &__img-picture {
        width: 100%;
        height: auto;
    }
}
.sub-text-items {
    padding: 10px 0 10px 30px;
}
.sub-text-li {
    list-style-type:disc;
}


/* --- SECTION sensorwater ---*/
.sensorwater {
        padding: 100px 0;
        background-color: #EAF2F2;
    &__container {
    }
    &__dscrps {
        flex-direction: row-reverse;
    }
    &__dscrps-colmn {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
    }
    &__dscrps-colmn p {
        align-items: flex-end;
    }
    &__dscrps-title {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 28px;
        min-width: 445px;
    }
    &__dscrps-text {
        max-width: 445px;
        font-weight: 500;
        padding-bottom: 46px;
    }
    &__dscrps-btn {
        max-width: 406px;
        padding: 15px 32px;
        color: inherit;
        border: 1px solid #252525;
        margin-right: 42px;
    }
    &__img {
        width: 100%;
        max-width: 595px;
    }
    &__img-picture {
        width: 100%;
        height: auto;
}
}


/* --- SECTION benefits ---*/
.benefits {
    padding-top: 100px;
    &__container {
    }
    &__top {
        text-align: center;
    }
    &__top-title {
        padding-bottom: 10px;
    }
    &__top-dscrp {
        display: inline-block;
        text-align: center;
        max-width: 690px;
        padding-bottom: 60px;
    }
    &__top-items {
        display: flex;
        gap: 25px
    }
    &__top-clmn {
        flex-direction: column;
        gap: 20px;
    }
    &__top-li {
        text-align: left;
        align-items: flex-start;
    }
    &__top-img {
        width: 100%;
        max-width: 169px;
    }
    &__top-img-item {
        width: 100%;
        height: auto;
    }
    &__top-li-dscrp {
        max-width: 368px;
        padding: 0 30px;
    }
    &__top-li-title {
        font-size: 18px;
        font-weight: 500;
        padding:20px 0 10px;
    }
    &__top-li-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
    }
    &__btm {
        padding: 100px 0;
        background: linear-gradient(#FFFFFF, #F2F5F9);
    }
    &__container-btm {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    &__btm-title {
        padding-bottom: 10px;
    }
    &__btm-dscrp {
        display: inline-block;
        text-align: center;
        max-width: 690px;
        padding-bottom: 50px;
    }
    &__btm-items {
        flex-direction: column;
        gap: 40px;
    }
    &__btm-li {
        gap: 30px;
    }
    &__btm-clmn {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 25%;
        max-width: 255px;
        gap: 20px;
    }
    &__btm-img {
        width: 100%;
        max-width: 50px;
        height: auto;
    }
    &__btm-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
    }
}


/* --- SECTION contactus ---*/
.contactus {
    padding: 100px 0;
    &__container {
        position: relative;
    }
    &__dscrps-colmn {
        flex-direction: column;
        align-items: flex-start;
        max-width: 410px;
        padding-top: 56px;
        padding-left: 54px;
    }
    &__dscrps-title {
        font-weight: 500;
        padding-bottom: 18px;
    }
    &__dscrps-text {
        padding-bottom: 28px;
    }
    &__dscrps-btn {
        background-color: #528CF3;
        color: white;
        padding-left: 31px;
        padding-right: 31px;
        margin-bottom: 54px;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 1110px;
        margin-right: 15px;
        z-index: -1;
    }
    &__img-item {
        width: 100%;
        height: auto;
    }
}


/* --- SECTION instal ---*/
.instal {
    padding-bottom: 100px;
    &__container {
        text-align: center;
        
    }
    &__title {
        padding-bottom: 20px;
    }
    &__text {
        display: inline-block;
        padding-bottom: 40px;
        max-width: 565px;
    }
    &__slider {
    }
    &__wrapper {
        display: flex;
    }
    &__slide {
        padding-bottom: 5px;
        display: flex;
        justify-content: flex-end;
    }
    &__card {
        max-width: 365px;
        height: 475px;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
    &__card-img {
        width: 362px;
        height: 270px;
    }
    &__img-item {
        width: 100%;
        height: 100%;
    }
    &__card-dscrp {
        text-align: left;
        padding: 19px 30px 0px 30px;
    }
    &__card-title {
        padding-bottom: 13px;
        font-size: 24px;
        font-weight: 500;
    }
    &__card-text {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }
}


/* --- SECTION service ---*/
.service {
    background-color: #F2F5F9;
    padding: 100px 0;
    &__container {
    }
    &__title {
        text-align: center;
    }
    &__title-title {
        padding-bottom: 10px;
    }
    &__title-text {
        display: inline-block;
        max-width: 581px;
        padding-bottom: 35px;
    }
    &__clmn {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        padding: 17px 0;
        align-items: center;
    }
    &__numb {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #528CF3;
        border-radius: 50%;
        width: 33px;
        height: 33px;
    }
    &__text {
        display: inline-block;
        max-width: 508px;
        padding-left: 13px;
    }
}



/* --- SECTION tarifs ---*/
.tarifs {
    padding: 80px 0 100px;
    &__container {
    }
    &__lists {
        display: flex;
        flex-direction: column;
    }
    &__li:first-child {
        font-weight: bold;
        align-items: flex-start;
    }
    &__li:first-child .tarifs__li-dscrp {
        font-size: 24px;
    }
    &__li:first-child .tarifs__li-block {
        font-size: 18px;
    }
    &__li:first-child .tarifs__li-basic {
        padding: 33px 0 27px;
    }
    &__li:first-child .tarifs__li-plus {
        padding: 33px 0 27px;
    }
    &__li:last-child {
        border-bottom: none;
        font-size: 12px;
        color: #979D9D;
        padding-top: 11px;
    }
    &__li, &__li-sum {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E1E5E5;
    }
    &__li-dscrp {
        padding: 10px 0;
    }
    
    &__li-block {
        display: flex;
        min-height: 49px;
        align-items: center;
    }
    &__li-basic, &__li-basic-sum {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        min-height: 49px;
        background-color: rgba(242, 245, 249, 0.5);
    }
    &__li-plus, &__li-plus-sum {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        min-height: 49px;
        background-color: #F2F5F9;
    }
    &__li-sum {
        height: 106px;
    }
    &__li-dscrp-sum {
        padding-top: 15px;
    }
    &__li-dscrp-sum p:first-child {
        padding-bottom: 16px;
        font-size: 18px;
    }
    &__li-dscrp-sum p:last-child {
    }
    &__li-block-sum {
        display: flex;
    }
	&__li-basic-sum {
        min-height: 106px;
        flex-direction: column;
        padding-top: 10px;
	}
    &__li-basic-sum p:first-child  {
        padding-bottom: 20px;
        font-size: 18px;
        
    }
	&__li-plus-sum {
        min-height: 106px;
        flex-direction: column;
	}
    &__li-plus-sum p:first-child  {
        padding-bottom: 20px;
        font-size: 18px;
        padding-top: 10px;
    }
    &__adding {
    }
    &__adding-title {
        padding: 54px 0 17px;
        font-size: 18px;
        font-weight: bold;
    }
    &__adding-lists {
        display: flex;
        flex-direction: column;
    }
    &__adding-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 49px;
        border-bottom: 1px solid #E1E5E5;
    }
    &__adding-li-dscrp {
        padding: 10px 0;
        
    }
    &__adding-li-price {
        background-color: rgba(242, 245, 249, 0.5);
        text-align: right;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        width: 190px;
        min-height: 49px;
    }
}


/* --- SECTION faq ---*/


/* --- SECTION reviews ---*/


/* --- SECTION contactus (2) ---*/
